.App {
  width: 100vw;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  background-color: #f7f8fd;
  font-family: "Jost", sans-serif;
  padding-top: 94px;
}

.App__board {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.App__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (max-width: 1120px) {
  .App {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 56px;
  }

  .App__board {
    flex-direction: row;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    position: relative;
    gap: 0px;
    padding-top: 72px;
  }

  .App__board {
    position: absolute;
    top: 0;
    right: 0;
    width: 271px;
    height: 100vh;
    background: #f7f8fd;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* visibility: hidden; */
  }

  .App__content {
    align-items: center;
    gap: 32px;
  }
}
