.CommentPost {
  display: grid;
  gap: 17px 32px;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content 2fr;
  grid-template-areas:
    "avatar info btn"
    "avatar description description"
    "avatar post post";
}

.CommentPost__avatar {
  grid-area: avatar;
  border-radius: 40px;
}

.CommentPost__info {
  grid-area: info;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.CommentPost__name {
  color: #3a4374;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.01213rem;
}

.CommentPost__username {
  color: #647196;
  font-size: 0.875rem;
  font-weight: 400;
}

.CommentPost__btn-get {
  grid-area: btn;
  border: none;
  outline: none;
  background: transparent;
  color: #4661e6;
  font-size: 0.8125rem;
  font-weight: 600;
}

.CommentPost__btn-get:hover {
  cursor: pointer;
  text-decoration: underline;
}

.CommentPost__description {
  grid-area: description;
  color: #647196;
  font-size: 0.9375rem;
  font-weight: 400;
}

.CommentPost__replayto {
  color: #ad1fea;
  font-size: 0.9375rem;
  font-weight: 700;
}

.CommentPost__replay {
  grid-area: post;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
}

.CommentPost__input {
  height: 80px;
}

.CommentPost__btn-post {
  border: none;
  outline: none;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 12px 24px;
  color: #f2f4fe;
  font-size: 0.875rem;
  font-weight: 700;
  color: #f2f4fe;
  background: #ad1fea;
}
.CommentPost__btn-post:hover {
  cursor: pointer;
  background: #c75af6;
}

.CommentPost__input {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  resize: none;
  border-radius: 5px;
  background: #f7f8fd;
  padding: 16px 24px;
  font-family: Jost;
  color: #3a4374;
  font-size: 0.9375rem;
  font-weight: 400;
}

.CommentPost__input:hover,
.CommentPost__input:focus {
  cursor: pointer;
  border: 1px solid #4661e6;
}

::placeholder {
  font-family: Jost;
  color: #8c92b3;
  font-size: 0.9375rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .CommentPost {
    gap: 16px;
    grid-template-areas:
      "avatar info btn"
      "description description description"
      "post post post";
  }

  .CommentPost__btn-post {
    padding: 10.5px 16px;
    font-size: 0.8125rem;
  }
}
