.CommentPostWithReplay {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.CommentPostWithReplay__line {
  width: 1px;
  height: 267px;
  position: absolute;
  top: 65px;
  left: 20px;
  opacity: 0.15;
  background: #647196;
}

.CommentPostWithReplay__replies {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-left: 45px;
}

@media screen and (max-width: 768px) {
  .CommentPostWithReplay__line {
    left: 2px;
    top: 250px;
  }
  .CommentPostWithReplay__replies {
    margin-left: 23px;
  }
}
