.Modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: max-content;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 32px;
  overflow: auto;
}

.Modal::backdrop {
  opacity: 0.5;
  background: #000;
}

@media screen and (max-width: 768px) {
  .Modal {
    width: 343px;
    padding: 24px;
  }
}
