.RoadMapViewItem {
  display: flex;
  justify-content: space-between;
}

.RoadMapViewItem:nth-child(1) svg {
  fill: #f49f85;
}

.RoadMapViewItem:nth-child(2) svg {
  fill: #ad1fea;
}

.RoadMapViewItem:nth-child(3) svg {
  fill: #62bcfa;
}

.RoadMapViewItem__name {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #647196;
  font-size: 1rem;
  font-weight: 400;
}

.RoadMapViewItem__number {
  color: #647196;
  font-size: 1rem;
  font-weight: 700;
}
