.RoadMap {
  width: 1110px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 78px 0px 179px;
}

.RoadMap__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  border-radius: 10px;
  background: #373f68;
}

.RoadMap__header-box {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.RoadMap__heading {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.02081rem;
}

.RoadMap__content {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1120px) {
  .RoadMap {
    width: 689px;
    gap: 32px;
    margin: 56px 0px 96px;
  }

  .RoadMap__content {
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .RoadMap {
    width: 100%;
    margin: 0px 0px 96px;
    gap: 0px;
  }

  .RoadMap__header {
    padding: 24px;
    border-radius: 0px;
  }

  .RoadMap__heading {
    font-size: 1.125rem;
    letter-spacing: -0.01563rem;
  }

  .RoadMap__content {
    justify-content: center;
  }

  .RoadMap__tab-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
