.Suggestions {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  background-color: #f7f8fd;
  margin-top: 94px;
}

.Suggestions__board,
.Suggestions__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (max-width: 1120px) {
  .Suggestions {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 56px;
  }

  .Suggestions__board {
    flex-direction: row;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .Suggestions {
    position: relative;
    gap: 0px;
    margin-top: 72px;
  }

  .Suggestions__board {
    position: fixed;
    top: 0;
    right: 0;
    width: 271px;
    height: 100vh;
    background: #f7f8fd;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    z-index: 3;
    visibility: hidden;
  }

  .Suggestions__board::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(271px - 100vw);
    height: calc(100vh - 72px);
    width: calc(100vw - 271px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .Suggestions__content {
    align-items: center;
    gap: 32px;
  }
}
