.SuggestionsSort {
  position: relative;
  margin-right: auto;
}

.SuggestionsSort__btn {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  color: #f2f4fe;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.75;
}

.SuggestionsSort__btn:hover {
  cursor: pointer;
}

.SuggestionsSort__drop-menu {
  background-color: white;
  position: absolute;
  top: 56px;
  left: 2px;
}

.SuggestionsSort__selected {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .SuggestionsSort__btn {
    width: max-content;
    font-size: 0.8125rem;
    gap: 8px;
  }
}
