.SuggestionsTab {
  width: 825px;
  height: 72px;
  display: flex;
  gap: 38px;
  align-items: center;
  border-radius: 10px;
  background: #373f68;
  padding: 24px 16px 24px 24px;
}

.SuggestionsTab_header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01563rem;
}

.SuggestionsTab_btn {
  display: flex;
  gap: 4px;
  align-items: center;
  border: none;
  outline: none;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 12px 24px;
  color: #f2f4fe;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #ad1fea;
  text-decoration: none;
}

.SuggestionsTab_btn:hover {
  cursor: pointer;
  background-color: #c75af6;
}

@media screen and (max-width: 1120px) {
  .SuggestionsTab {
    width: 689px;
  }
}

@media screen and (max-width: 768px) {
  .SuggestionsTab {
    width: 100vw;
    height: 56px;
    border-radius: 0px;
    padding: 8px 24px;
    gap: 0px;
    justify-content: space-between;
  }

  .SuggestionsTab_header {
    display: none;
  }

  .SuggestionsTab_btn {
    padding: 10.5px 16px;
    font-size: 0.8125rem;
  }
}
