.TagList {
  width: 255px;
  height: 166px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 24px;
  border-radius: 10px;
  background: #fff;
}

@media screen and (max-width: 1120px) {
  .TagList {
    width: 223px;
    height: 178px;
  }
}
