.FeedBackPost {
  width: 100%;
  height: 151px;
  display: flex;
  gap: 40px;
  padding: 28px 32px;
  border-radius: 10px;
  background: #fff;
}

.FeedBackPost:hover {
  cursor: pointer;
}

.FeedBackPost:hover .FeedBackPost__header {
  color: #4661e6;
}

.FeedBackPost__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-right: auto;
}

.FeedBackPost__header {
  color: #3a4374;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01563rem;
}

.FeedBackPost__paragraph {
  color: #647196;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: auto;
}

.FeedBackPost__comments {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .FeedBackPost {
    width: 327px;
    height: 200px;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
      "text text"
      "score comments";
    padding: 24px;
  }

  .FeedBackPost__score {
    grid-area: score;
  }

  .FeedBackPost__text {
    grid-area: text;
  }

  .FeedBackPost__comments {
    grid-area: comments;
    justify-self: flex-end;
  }

  .FeedBackPost__header {
    font-size: 0.8125rem;
    letter-spacing: -0.01131rem;
  }

  .FeedBackPost__paragraph {
    font-size: 0.8125rem;
  }
}
